<!-- 
<bootstrap-panel>
    <h5 class='heading'>Heading-App comp</h5>
    <p class='body'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium illum at cumque minima dolores doloremque ipsum iste inventore eveniet, magnam, pariatur perferendis eos deserunt? Cupiditate velit beatae nesciunt quidem voluptatum!</p>
</bootstrap-panel>
<bootstrap-panel>
    <h5 class='heading'>Sibin krishna</h5>
    <p class='body'>hai hello</p>
</bootstrap-panel> -->

<!-- 




<hr>


<hr>


<hr>


<app-directive-if></app-directive-if>
<hr>
<app-directive-switch></app-directive-switch>
<hr>
<app-directive-for></app-directive-for>
<br><br>

<app-html-vs-dom></app-html-vs-dom> -->
<!-- <app-comment></app-comment>
<app-directive-for></app-directive-for>
<hr>
<app-tracking></app-tracking>
<app-like></app-like> -->
<contact-form></contact-form>



-->
<h1>Hello world- Angular Project</h1>
<mycomponent></mycomponent>
<br>
<blog-post></blog-post>
<br>
<app-course></app-course>
<br>
<app-books></app-books>
<hr>
<app-cars></app-cars>
<hr>
<app-property-binding></app-property-binding>
<hr>
<app-class-binding></app-class-binding>
<hr>
<app-event-binding></app-event-binding>
<hr>
<app-two-way-binding></app-two-way-binding>
<hr> 
<app-pipes></app-pipes> 
<hr>
<h3>Favorite Icon project</h3>
<favorite [isFavorite]='post.isFavorite' 
(change)='onFavoriteChanged()'>

</favorite> 
<hr>